{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Clinic Management{% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center"> <!-- Add this line -->
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
        {% block content %}{% endblock %}
    </div> <!-- And this line -->
    <!-- Include Bootstrap JS and its dependencies below -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>